.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.footer h1 {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}